body {
	text-align: center;
}

.play {
	margin: 0 auto;
}

button {
	display: block;
	/* margin: 3% auto; */
}

.choices {
	width: 130px;
	position: absolute;
	left: 30%;
}

#computer-move {
	transform: scaleX(-1);
	position: relative;
	left: 18%;
	top: 5.8rem;
}

img.btn {
	width: 130px;
}

img.btn:hover {
	background-color: #e1eae1;
	border-radius: 100%;
	/* width: 110%; */
}

.selected {
	background-color: #e1eae1;
	border-radius: 100%;
	width: 110%;
}

.comp-choice {
	position: absolute;
}

.hidden {
	visibility: hidden;
}